@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --color-white: #ffffff;
  --color-black: #000;
  --color-dark-grey: #252525;
  --color-medium-grey: #3C3C3C;
  --color-grey: #515151;
  --color-light-grey: #B5B5B5;
  --color-light-green: #F0FFF0;
  --color-green: #40CF3E;
  --color-medium-green: #478045;
  --color-dark-green: #123509;


  --font-header: "DynaPuff", system-ui;
  --font-main: "Source Sans 3", sans-serif;
}

#main{
  background: linear-gradient(to bottom, var(--color-light-green), var(--color-green));
}

.father{
  display: grid;
  place-self: center;
  padding: 20px;
  margin: 3em;
  background-color: var(--color-light-green);
  width: 90%;
  max-width: 1200px;
  height: auto;
  border-radius: 15px;
  border: solid 1px var(--color-medium-green);
  font-family: var(--font-main);
}

li {
  color: var(--color-dark-grey);
}

h1 {
  font-weight: 900;
  font-size: 4em;
  text-align: center;
  padding-top: 0.5em;
}

h2, h3 {
  font-weight: 800;
  font-size: 2em;
  padding-top: 0.5em;
}

p{
  font-weight: 500;
  font-size: 1.5em;
  padding: 0.5em;
  text-align: justify;
}

.list {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 2em;
  border: solid 2px var(--color-black);
  border-radius: 15px;
  padding: 2em;
  background-color: rgba(230, 216, 216, 0.822);
  background-position: 55%;
  background-size: cover;
  background-blend-mode: overlay;
}

#button{
    display: flex;
    justify-content: center;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1em;
}

.card{
  position: relative;
}

.favorite-marker{
  position: absolute;
  top: 0;
  right: 3em;
  width: 3.5em;
  height: 3.5em;
  z-index: 1;
  background-repeat: no-repeat;
}

.favorite-true {
  background-image: url(../../public/images/favorite-true.png);
}

.favorite-false {
  background-image: url(../../public/images/favorite-false.png);
}



