:root {
  --cor-branco: #ffffff;
  --cor-cinza-escuro: #272B33;
  --cor-card-cinza: #3C3E44;
  --cor-verde-light: #d8f0d8;
  --cor-verde-escuro: #184818;
  --cor-verde-medio-escuro: #256d24;
  --cor-verde-medio-claro: #319130;
  --cor-verde-claro: #3eb63d;
}
